body {
    background: rgb(219, 219, 219);
    font: normal 18pt Arial;
}

#txtn1, #txtn2 {
    width: 100px;
    border: 1px solid;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
  }

#btn {
  padding: 10px;
  border: none;
  border-radius: 10px;
  margin-top: 10px;
  background: #6d44dc;
  color: white;
  font-weight: bold;
  box-shadow: -5px -5px 10px #ffffff, 5px 5px 10px #c4c4c4;
  cursor: pointer;
}
